LogReader/Web References/LoggingService/Live.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.client-line.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.client-line.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.client-line.com/">
      <s:element name="WriteLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="applicationName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="remoteUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="internalUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="logType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stackTrace" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteLogResponse">
        <s:complexType />
      </s:element>
      <s:element name="ReadLog">
        <s:complexType />
      </s:element>
      <s:element name="ReadLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadLogResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCRMTip">
        <s:complexType />
      </s:element>
      <s:element name="GetCRMTipResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCRMTipResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WriteLogSoapIn">
    <wsdl:part name="parameters" element="tns:WriteLog" />
  </wsdl:message>
  <wsdl:message name="WriteLogSoapOut">
    <wsdl:part name="parameters" element="tns:WriteLogResponse" />
  </wsdl:message>
  <wsdl:message name="ReadLogSoapIn">
    <wsdl:part name="parameters" element="tns:ReadLog" />
  </wsdl:message>
  <wsdl:message name="ReadLogSoapOut">
    <wsdl:part name="parameters" element="tns:ReadLogResponse" />
  </wsdl:message>
  <wsdl:message name="GetCRMTipSoapIn">
    <wsdl:part name="parameters" element="tns:GetCRMTip" />
  </wsdl:message>
  <wsdl:message name="GetCRMTipSoapOut">
    <wsdl:part name="parameters" element="tns:GetCRMTipResponse" />
  </wsdl:message>
  <wsdl:portType name="ClientLineServiceSoap">
    <wsdl:operation name="WriteLog">
      <wsdl:input message="tns:WriteLogSoapIn" />
      <wsdl:output message="tns:WriteLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadLog">
      <wsdl:input message="tns:ReadLogSoapIn" />
      <wsdl:output message="tns:ReadLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCRMTip">
      <wsdl:input message="tns:GetCRMTipSoapIn" />
      <wsdl:output message="tns:GetCRMTipSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientLineServiceSoap" type="tns:ClientLineServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WriteLog">
      <soap:operation soapAction="http://www.client-line.com/WriteLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadLog">
      <soap:operation soapAction="http://www.client-line.com/ReadLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCRMTip">
      <soap:operation soapAction="http://www.client-line.com/GetCRMTip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClientLineServiceSoap12" type="tns:ClientLineServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WriteLog">
      <soap12:operation soapAction="http://www.client-line.com/WriteLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadLog">
      <soap12:operation soapAction="http://www.client-line.com/ReadLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCRMTip">
      <soap12:operation soapAction="http://www.client-line.com/GetCRMTip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientLineService">
    <wsdl:port name="ClientLineServiceSoap" binding="tns:ClientLineServiceSoap">
      <soap:address location="http://apps.client-line.com/WebServices/Live.asmx" />
    </wsdl:port>
    <wsdl:port name="ClientLineServiceSoap12" binding="tns:ClientLineServiceSoap12">
      <soap12:address location="http://apps.client-line.com/WebServices/Live.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>